
.wrapper{
  // sdisplay: flex;
  width: 300px;
  height: 600px;
  .controls{
    background-color: #164151;
    padding-top: 5px;
    display: flex;
    justify-content: space-around;

    .control{
      padding: 5px;
      .title{
        font-weight: 400;
        font-size: 0.8rem;
      }
      .date-value{
        // font-size: 30px;
      }
      color: white;
      font-size: 42px;
      font-weight: 200;
    }
  }
}
.snab-progress-wrapper{
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  transition: backgroundColor 1s;
  background-color: #164151;

  .title{
    background-color: #164151;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .balken{
    position: absolute;
    width: 80%;
    left: 10%;
    height: 5px;
    transition: top .7s;
    border-radius: 3px;
    background-color: #f2e63c;
  }

  .grau-balken{
    position: absolute;
    left: 50%;
    height: 100%;
    width: 1px;
    background-color: rgba(35, 95, 122, 0.91);
  }

}
.border{
  border: 1px solid black;
}
@keyframes grow {
  from {
    height: 3px;
    width: 80%;
    left: 10%;
  }
  to {
    height: 6px;
    width: 90%;
    left: 5%;
  }
}